<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Desafio 1</title>
</head>
<body>
    <section>
        <div class = "cuadrado_verde_arriba">
            <div class="circulo_rojo"></div>
            <div class="circulo_amarillo"></div>
            <div class="circulo_celeste"></div>
        </div>
        <div class = "cuadrado_verde_abajo">
            <h2> EN UN CLICK</h2>
            <h1> LIBRERIA</h1>
            <h3><a href="#">BUSCAR</a></h3>
            <div class="cuadrado_verde_dentro"></div>
        </div>
    </section>
</body>
</html>