<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">

    
    <title>MacoWins</title>
</head>
<body>
    <section class="welcome">
        <h1>MacoWins</h1>
        <p>Te damos la bienvenida a MacoWins</p>
        <img src="https://www.shutterstock.com/image-vector/spanish-language-vector-template-welcome-260nw-1792430023.jpg">
    </section>
    <section class="about">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam facilis cupiditate dolor deleniti eligendi architecto neque molestiae error blanditiis, magnam autem eos ducimus omnis quibusdam, veniam odit explicabo sint minima.</p>

    </section>
    <section class="productos">
        <ul>
            <li>Pantalones</li>
            <li>Remeras</li>
        </ul>
    </section>
    <footer>
       <a>  <i class="fa fa-envelope-o" aria-hidden="true"></i> MacoWins contact: contact@MacoWins.com </a> 
        
    </footer>
    <script src="https://kit.fontawesome.com/1bab9460a1.js" crossorigin="anonymous"></script>
</body>
</html>