<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MacoWins</title>
</head>
<body>
    <!--Este es un comentario-->
    <section class="bienvenida">
        <h1>Bienvenido a MacoWins</h1>
        <p>Te damos la bienvenida a MacoWins</p>
        <img src="https://as2.ftcdn.net/v2/jpg/04/46/40/87/1000_F_446408796_sO3c3ZIuWMgvXNbfXM4Hyqt7pLtGzKQo.jpg">
    </section>
    <section class="productos">
        <p>Tipos de prendas</p>
        <ul>
            <li>Pantalones</li>
            <li>Sacos</li>
        </ul>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/69zpWA-euSg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> <!--En youtube -> compartir -> insertar-->
    </section>
    <footer>
        <p>MacoWins contacto: macowins@gmail.com</p>
    </footer>
</body>
</html>